@media(max-width: 964px){
    .layout{
        grid-template-areas: 
            "header header"
            "slider slider"
            "main main"
            "aside aside";
        grid-template-columns: 100%;
    }

    .layout__main{
        margin-right: 0;
    }

    .layout__aside{
        margin-top: 4rem;
    }

    .header__container-img{
        width: 100%;
    }

    .header__img{
        width: 100%;
    }

    .login__from-group, .login__submit{
        width: 65%;
    }

    .header__title, .login__title{
        margin-top: 1rem;
    }

}

@media(max-width: 696px){

    .header__nav{
        height: auto;
        padding: 2rem;
    }

    .layout__slider{
        height: 30rem;
    }
}


@media(max-width: 589px){

    .nav__list{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .layout__slider{
        height: 30rem;
    }

}
   